﻿@model IEnumerable<Mvc5TestProj.ViewModels.CropGroup>

@{
    ViewBag.Title = "Crop Varieties Count";
}

<h2>Crop Varieties Count</h2>

<h3>@ViewBag.Message</h3>

<div class="k-floatwrap">
    <div style="float: left">
        <table>
            <tr>
                <th>
                    Crop
                </th>
                <th>
                    # of Varieties
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="text-align:center">
                        @item.VarietyCount
                    </td>
                </tr>
            }
        </table>
    </div>

    <div style="float: right">
        <h3>Telerik UI for ASP.NET MVC TreeView</h3>
        <p>
            Use this area to provide additional information.
        </p>

        @(Html.Kendo().TreeView()
        .Name("LinksTreeView")
        .Items(items =>
        {
            items.Add()
                .Text("Home")
                .Action("Index", "Home");
            items.Add()
                .Text("About")
                .Action("About", "Home");
            items.Add()
                .Text("Contact")
                .Action("Contact", "Home");
        })
    )
    </div>
</div>