﻿@model Mvc5TestProj.Models.ExternalPartner
    <div id="modalbox" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1> Important message</h1>
                </div>
                <div class="modal-body">
                    <h6>Note: Delete functionality still being constructed. All related data has to be checked for orphans. Deleting may trigger an error.</h6>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-star"></span>&nbsp;Ok</button>
                </div>
            </div>
        </div>

    </div>
    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ExternalPartner</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SapAccountNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SapAccountNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SCCAccredited)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SCCAccredited)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RDVendor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RDVendor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EAVendor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EAVendor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MasterAgreementSent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MasterAgreementSent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MasterAgreementSigned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MasterAgreementSigned)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VendorTermsAndConditionsAccepted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VendorTermsAndConditionsAccepted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Province.ShortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Province.ShortName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    <div><dl></dl></div>
    <!--The button with the bootstrap class applied on it-->
    <div>
        <button class="btn btn-danger" id="showmodalbox">Show Warning</button>
    </div>

@section scripts{
    <script>
    //The script to read the modalbox element and define the
    //modal on it using modal method and calls its "show state"
    $(function () {
        var box = function () {
            $("#modalbox").modal("show");
        };
        $("#showmodalbox").click(box);
    });
    </script>
}