﻿@model Mvc5TestProj.Models.ExternalPartner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExternalPartner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SapAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SapAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCCAccredited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCCAccredited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RDVendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RDVendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EAVendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAVendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterAgreementSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterAgreementSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterAgreementSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterAgreementSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorTermsAndConditionsAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorTermsAndConditionsAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExternalPartnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
