﻿@model Mvc5TestProj.ViewModels.ExternalPartnerCropRegionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External Partners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanySortParm })
        </th>
        <th>
            Phone Number
        </th>
        <th>
            AddressLine1
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            Province
        </th>
        <th>
            Crop Regions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ExternalPartners)
{
    string selectedRow = "";
    if (item.ExternalPartnerId == ViewBag.ExternalPartnerId)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.LongName)
        </td>
        <td>
            @{
                 foreach (var epcr in item.ExternalPartnerCropRegions)
                 {
                   @epcr.CropRegion.Name <br />
                 }
            }
        </td>

        <td>
            @Html.ActionLink("Select", "Index", new { id = item.ExternalPartnerId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ExternalPartnerId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ExternalPartnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ExternalPartnerId })
        </td>
    </tr>
}

</table>

@if (Model.CropRegions != null)
{
    <h3>Crop Regions by Selected External Partner</h3>
    <table class="table">
        <tr>
            <th style="text-align: left">Name</th>
        </tr>

        @foreach (var item in Model.CropRegions)
        {
            <tr>
                <td>
                    @item.Name
                </td>
             </tr>
        }

    </table>
    
}
