﻿
@{
    ViewBag.Title = "Draggable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Reference the jQuery library. -->

<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<h2>Draggable</h2>
<div id="test-container" class="test_container">
    <div id="gallery-one" class="gallery_one">
        <div id="box1" class="box">
            ONE
        </div>
        <div id="box2" class="box">
            TWO
        </div>
        <div id="box3" class="box">
            THREE
        </div>
        <div id="box4" class="box">
            FOUR
        </div>
    </div>
    <div id="gallery-two" class="droppable gallery_two">
    </div>
    <br /><label id="lblCount" style="color: red; font-size: 12pt"></label>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        galleryDragAndDrop("#test-container", "#gallery-one", "#gallery-two", ".box");
        var childObjectsCount = 0;

        function galleryDragAndDrop(mainContainer, containerOne, containerTwo, dragItem) {
            $(dragItem).draggable(
                {
                    revert: "invalid",
                    containment: mainContainer,
                    helper: "clone",
                    cursor: "move",
                    drag: function (event, ui) {
                        $(ui.helper.prevObject).addClass("box_current");
                    },
                    stop: function (event, ui) {
                        $(ui.helper.prevObject).removeClass("box_current");
                    }
                });

            $(containerTwo).droppable({
                accept: dragItem,
                activeClass: "ui-state-highlight",
                drop: function (event, ui) {
                    acceptBoxIngallery(ui.draggable, containerTwo);
                }
            });

            $(containerOne).droppable({
                accept: dragItem,
                activeClass: "ui-state-highlight",
                drop: function (event, ui) {
                    acceptBoxIngallery(ui.draggable, containerOne);
                }
            });

            function acceptBoxIngallery(item, container) {
                $(item).fadeOut(function () {
                    $(container).append(item);
                    childObjectsCount = $('#gallery-two').children().size();
                    if (childObjectsCount > 0) {
                        $('#lblCount').html(childObjectsCount);
                    } else {
                        $('#lblCount').html("");
                    };
                });

                $(item).fadeIn();
                $(item).removeClass("box_current");
            }

            //function acceptBoxIngalleryOne(item) {
            //    $(item).fadeOut(function () {
            //        $(containerOne).append(item);
            //        childObjectsCount = $('#gallery-two').children().size();
            //        if (childObjectsCount > 0) {
            //            document.getElementById('lblCount').innerHTML = childObjectsCount;
            //        } else {
            //            document.getElementById('lblCount').innerHTML = "";
            //        };
            //    });

            //    $(item).fadeIn();
            //    $(item).removeClass("box_current");
            //}
        }
    });
</script>
<style>
    /* Draggable Test Styles */

    .test_container
    {
        width: 800px;
        height: 380px;
        background-color: #D6D6D6;
        overflow: hidden;
    }

    .gallery_one, .gallery_two
    {
        float: left;
        width: 270px;
        height: 260px;
        border: solid 1px #BBBBBB;
        margin: 60px 0px 0px 50px;
        overflow: hidden;
        background-color: #CED5DB;
    }

    .box
    {
        float: left;
        width: 100px;
        height: 100px;
        overflow: hidden;
        cursor: pointer;
        background-color: #E1E1E1;
        margin: 20px 0px 0px 20px;
        text-align: center;
        line-height: 100px;
        cursor: pointer;
        border: 1px solid #B3B3B3;
        font-weight: bold;
    }

    .gallery_two
    {
        margin: 60px 0px 0px 150px;
    }

    .box_current
    {
        background-color: #BBBBFF;
    }
</style>
