﻿@{ ViewBag.Title = "Draggable"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <title>Try This</title>
    <script src="~/Scripts/TypeScript/kendoDraggable.js"></script>
</head>
<body>
    <h2>Kendo Draggable</h2>
    <div id="test-container" class="test_container">
        <div id="gallery-one" class="gallery_one">
            <div id="box1" class="box">
                ONE
            </div>
            <div id="box2" class="box">
                TWO
            </div>
            <div id="box3" class="box">
                THREE
            </div>
            <div id="box4" class="box">
                FOUR
            </div>
        </div>
        <div id="gallery-two" class="kendoDroppable gallery_two"></div>
        <br /><label id="lblCount" style="color: red; font-size: 12pt; padding-left: 20em"></label>
   </div>
</body>
</html>
    <style>
        /* Draggable Test Styles */

        .test_container {
            width: 800px;
            height: 380px;
            background-color: #D6D6D6;
            overflow: hidden;
        }

        .gallery_one, .gallery_two {
            float: left;
            width: 270px;
            height: 260px;
            border: solid 1px #BBBBBB;
            margin: 60px 0 0 50px;
            overflow: hidden;
            background-color: #CED5DB;
        }

        .box {
            float: left;
            width: 100px;
            height: 100px;
            overflow: hidden;
            cursor: pointer;
            background-color: #E1E1E1;
            margin: 20px 0 0 20px;
            text-align: center;
            line-height: 100px;
            border: 1px solid #B3B3B3;
            font-weight: bold;
        }

        .gallery_two {
            margin: 60px 0 0 150px;
        }

        .box_current {
            background-color: #BBBBFF;
        }
    </style>