﻿@model IEnumerable<Mvc5TestProj.Models.Province>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Provinces</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find province: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongName)
        </th>
        <th>
            Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProvinceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProvinceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProvinceId })
        </td>
    </tr>
}

</table>
