﻿@using Kendo.Mvc.UI.Fluent
@{
    ViewBag.Title = "GridToTreeDraggable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Drag 'n Drop</title>
</head>
<body>

    <h2>Grid ToTree Drag</h2>

    @(Html.Kendo().TreeView()
      .Name("treeView") // specifies the "id" attribute of the widget.
      .DataTextField("name")
      .DataSource(d => d
          .Model(m => m
             .Id("userid")
             .HasChildren("hasChildren")
             .Children("subitems"))
          .Read(r => r.Action("Reps_Read", "GridToTreeDraggable")))
      .Template("#= item.name # (User Id: #= item.userid #)")
      .Events(e => e
         .Expand("treeView_expand")
         .DataBound("onDataBound")
         .Select("onSelect"))
    )

    <br />
    <br />
    <br />

    @(Html.Kendo().Grid((IEnumerable<Mvc5TestProj.Models.Fruit>)ViewBag.Fruits)
    .Name("policyGrid")
    .Columns(columns =>
    {
        columns.Bound(fruit => fruit.fruitid).Title("Fruit Id");
        columns.Bound(fruit => fruit.responsibleUserid).Title("Responsible User Id");
        columns.Bound(fruit => fruit.name).Title("Name");
    })
    .Selectable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Fruits_Read", "GridToTreeDraggable")) // Set the action method which will return the data in JSON format
        .Model(model =>
        {
            model.Id(fr => fr.fruitid);
        })
    )
    )

    <script src="~/Scripts/TypeScript/GridToTreeDraggable.js"></script>
</body>
</html>
